default:
    suites:
        default:
            contexts:
                - App\Behat\Context\ApiContext
                - App\Behat\Context\RedisContext
                - App\Behat\Context\JsonContext
    extensions:
        Behat\Symfony2Extension:
            kernel:
                bootstrap: features/bootstrap/bootstrap.php
                class: App\Kernel
